@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/PretendardVariable.woff2")
    format("woff2-variations");
}

html {
  @apply bg-gradient-to-b from-stone-50 from-10% via-zinc-100 via-50% to-white to-100% text-foreground dark:from-zinc-900 dark:via-zinc-950 dark:to-black;
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
}
