@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/PretendardVariable.woff2")
    format("woff2-variations");
}

html {
  @apply bg-gradient-to-b from-stone-50 from-10% to-zinc-100 to-100% text-foreground dark:from-neutral-900 dark:from-10% dark:to-zinc-900 dark:to-100%;
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
}
